:root {
  /* Primary Colors */
  --bright-orange: hsl(31, 77%, 52%);
  --dark-cyan: hsl(184, 100%, 22%);
  --very-dark-cyan: hsl(179, 100%, 13%);

  /* Neutral Colors */
  --transparent-white: hsla(0, 0%, 100%, 0.75);
  --very-light-gray: hsl(0, 0%, 95%);

  /* Font-Family */
  --heading-style: "Big Shoulders Display", cursive;
  --text-style: "Lexend Deca", sans-serif;

  /* Font-Size */
  --heading-size: 2.375rem;
  --text-size: 0.9375rem;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-items: center;
  width: 90rem;
  height: 100vh;
  background-color: var(--very-light-gray);
  font-family: var(--text-style);
}

/* ======================= 
          CONTAINER 
 ======================= */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18.75rem, 1fr));
  width: calc(100% - 30.75rem);
  height: 32.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.container .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3.5rem;
}

.container .card img,
.container .card button {
  align-self: flex-start;
}

.container .card h1 {
  color: var(--very-light-gray);
  font-family: var(--heading-style);
  font-size: var(--heading-size);
  font-weight: 700;
  margin-top: -3.125rem;
}

.container .card p {
  color: var(--transparent-white);
  font-family: var(--text-style);
  font-size: var(--text-size);
  font-weight: 300;
  line-height: 1.7;
  margin-top: -3.125rem;
}

/* BUTTON */
.card button {
  background-color: var(--transparent-white);
  padding: 0.9375rem 2.1875rem;
  border: none;
  border-radius: 1.5625rem;
  font-size: var(--text-size);
}

.card.sedans button {
  color: var(--bright-orange);
}

.card.sedans button:active {
  background-color: var(--bright-orange);
  border: 0.125rem solid var(--very-light-gray);
}

.card.suvs button {
  color: var(--dark-cyan);
}

.card.suvs button:active {
  background-color: var(--dark-cyan);
  border: 0.125rem solid var(--very-light-gray);
}

.card.luxury button {
  color: var(--very-dark-cyan);
}

.card.luxury button:active {
  background-color: var(--very-dark-cyan);
  border: 0.125rem solid var(--very-light-gray);
}

.card button:active {
  padding: 0.8125rem 2.0625rem;
  color: var(--very-light-gray);
}

.card button:hover {
  cursor: pointer;
}

/* ============================================== */

.container .sedans {
  background-color: var(--bright-orange);
}
.container .suvs {
  background-color: var(--dark-cyan);
}
.container .luxury {
  background-color: var(--very-dark-cyan);
}
/* ======================= 
          ATTRIBUTION 
 ======================= */
.attribution {
  font-size: 15px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
